* {
	outline: none !important;
	-moz-outline: none !important;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
}

body.matrix {
	overflow-x: hidden;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	color: #666;
	margin-top: -20px;
}

#header {
	background-color: #1F262D;
	height: 77px;
	width: 100%;
	margin-top: 20px;
}

#header h1 {
	background: transparent url("../img/logo.png") no-repeat scroll 0px 0px;
	height: 31px;
	margin-left: 20px;
	overflow: hidden;
	margin-top: 26px;
	width: 191px;
}

#header h1 a {
	color: transparent;
}

#top-nav, #search {
}

#top-nav>ul {
	margin: 0px;
	padding: 0px;
	list-style: outside none none;
	border-right: 1px solid #2E363F;
	border-left: 1px solid #000;
}

#top-nav > ul > li {
    float: left;
    list-style-type: none;
    margin: 0px;
    position: relative;
    padding: 0px;
    border-left: 1px solid #2E363F;
    border-right: 1px solid #000;
}

