* {
	outline: none !important;
	-moz-outline: none !important;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
}

body.matrix {
	overflow-x: hidden;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	color: #666;
	background-color: #2E363F;
	margin-top: -20px;
}

#header {
	background-color: #1F262D;
	height: 77px;
	width: 100%;
	margin-top: 20px;
}

#header h1 {
	background: transparent url("../img/logo.png") no-repeat scroll 0px 0px;
	height: 31px;
	margin-left: 20px;
	overflow: hidden;
	margin-top: 26px;
	width: 191px;
}

#header h1 a {
	color: transparent;
}

#top-nav, #search {
	height: 38px;
	min-height: 38px;
	margin: 0px;
	border: none;
    border-radius: 0px;
}

#top-nav>ul {
	margin: 0px;
	padding: 0px;
	list-style: outside none none;
	border-right: 1px solid #2E363F;
	border-left: 1px solid #000;
}

#top-nav > ul > li {
    float: left;
    list-style-type: none;
    margin: 0px;
    position: relative;
    padding: 0px;
    border-left: 1px solid #2E363F;
    border-right: 1px solid #000;
    background-color: #1F262D;
}

#top-nav > ul > li > a {
    padding: 9px 10px;
    display: block;
    font-size: 11px;
    height: 38px;
    color: #999;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

#top-nav >ul > li > a:hover {
	color: #FFF;
    background: #000 none repeat scroll 0% 0%;
}

#breadcrumb {
    background-color: #FFF;
    border-bottom: 1px solid #E3EBED;
    height: 37px;
    min-height: 37px;
    padding: 0px;
    margin-top: 2px;
    border-radius: 0px;
}

#breadcrumb a:last-child {
    background-image: none;
}

#breadcrumb a {
    padding: 8px 20px 8px 10px;
    display: inline-block;
    background-image: url("../img/breadcrumb.png");
    background-position: right center;
    background-repeat: no-repeat;
    font-size: 11px;
    color: #666;
}

#breadcrumb a:hover {
	text-decoration: none;
	color: #333;
}

#breadcrumb a i {
    margin-right: 5px;
}

#sidebar {
	width: 220;
}

#sidebar-accordion.panel-group {
	border-bottom: 1px solid #37414b;
}

#sidebar-accordion .panel {
	border-radius: 0px;
	margin: 0px;
	border-top: 1px solid #37414b;
	border-bottom: 1px solid #1f262d;
	border-left: none;
	border-right: none;
	background-image: none;
	background-color: transparent;
}

#sidebar-accordion .panel-heading {
	padding: 0px;
	background-image: none;
	background-color: transparent;
}

#sidebar-accordion .panel-title {
	font-size: 12px;
	background-color: transparent;
	background-image: none;
}

#sidebar-accordion .panel-title a,
#sidebar-accordion .panel-body>ul>li>a {
	display: block;
	width: 100%;
	padding: 10px 15px;
	line-height: 20px;
	color: #939da8;
}

#sidebar-accordion .panel-title a:hover {
	background-color: #27a9e3;
	color: #fff;
	text-decoration: none;
}

#sidebar-accordion .panel.active {
	border-bottom: 1px solid #27a9e3;
	border-top: 1px solid #27a9e3;
}

#sidebar-accordion .panel.active .panel-title {
	background-color: #27a9e3;
}

#sidebar-accordion .panel.active .panel-title a {
	background: url("../img/menu-active.png") no-repeat scroll right center transparent !important;
	color: #fff;
	text-decoration: none;
}

#sidebar-accordion .panel-title a>i.fa:first-child {
	margin-right: 10px;
}

#sidebar-accordion .panel-title a[data-toggle=collapse]:after {
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f0d7";
	position: absolute;
	right: 15px;
}

#sidebar-accordion .panel-title a[data-toggle=collapse].collapsed:after {
	content: "\f0da";
}

#sidebar-accordion .panel.active .panel-title a[data-toggle=collapse]:after {
	content: " ";
}

#sidebar-accordion .panel-body {
	border-radius: 0px;
	border: none;
	background-color: #1e242b;
	background-image: none;
	padding: 0px;
}

#sidebar-accordion .panel-body>ul.list-group {
	border-radius: 0px;
	border: none;
	margin: 0px;
}

#sidebar-accordion .panel-body>ul.list-group>li {
	border-radius: 0px;
	border: none;
	background-color: transparent;
	background-image: none;
	padding: 0px;
}

#sidebar-accordion .panel-body>ul.list-group>li>a {
	padding: 10px 5px 10px 25px;
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
}

#sidebar-accordion .panel-body>ul.list-group>li.active,
#sidebar-accordion .panel-body>ul.list-group>li>a:hover,
#sidebar-accordion .panel-body>ul.list-group>li.active>a {
	color: #fff;
	background-color: #28b779;
}

#workbench {
	background: none repeat scroll 0 0 #eeeeee;
	position: relative;
	left: 220px;
}


/*
  Helper classes
*/

.fill, .filled {
	width: 100%;
	height: 100%;
}

.auto-scroll, .autoscroll {
	overflow: auto;
}

.normal-padding, .normalpadding {
    padding: 10px;
}

.less-padding, .lesspadding {
    padding: 5px;
}

.least-padding, .leastpadding {
	padding: 2px;
}

.no-padding, .nopadding {
	padding: 0px!important;
}

.more-padding, .morepadding {
	padding: 15px;
}

.most-padding, .mostpadding {
	padding: 20px;
}

.normal-margin, .normalmargin {
    margin: 10px;
}

.less-margin, .lessmargin {
    margin: 5px;
}

.least-margin, .leastmargin {
    margin: 2px;
}

.more-margin, .moremargin {
    margin: 15px;
}

.most-margin, .mostmargin {
    margin: 20px;
}

.no-margin, .nomargin {
	margin: 0px!important;
}

.no-border, .noborder {
	border-style: none!important;
}

/*
  Widget box
*/
.widget-box {
    background: none repeat scroll 0 0 #F9F9F9;
    border-left: 1px solid #CDCDCD;
    border-top: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    clear: both;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
}

.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header {
    background: #efefef;
    border-bottom: 1px solid #CDCDCD;
    height: 36px;
}

.widget-title span.icon {
    padding: 9px 10px 7px 11px;
    float: left;
    border-right: 1px solid #dadada;
}

.widget-title h5 {
    color: #666;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    line-height: 12px;
    margin: 0;
}

.widget-content {
    padding: 15px;
    border-bottom: 1px solid #cdcdcd;
}

/*
  Tables
*/
.table>thead>tr>th {
    height: auto;
    padding: 5px 10px;
    border-bottom: 0px;
    text-align: center;
    color: #666666;
}

.no-padding .table-bordered, .nopadding .table-bordered {
    border: 0;
}

.no-padding .table-bordered>thead>tr>th:first-child,
.nopadding .table-bordered>thead>tr>th:first-child,
.no-padding .table-bordered>tbody>tr>td:first-child,
.nopadding .table-bordered>tbody>tr>td:first-child {
    border-left: 0;
}

.no-padding .table-bordered>thead>tr>th:last-child,
.nopadding .table-bordered>thead>tr>th:last-child,
.no-padding .table-bordered>tbody>tr>td:last-child,
.nopadding .table-bordered>tbody>tr>td:last-child {
    border-right: 0;
}

.no-padding .table-bordered>tbody>tr:last-child>td,
.nopadding .table-bordered>tbody>tr:last-child>td {
    border-bottom: 0;
}

.no-padding .table, .nopadding .table {
    margin-bottom: 0;
}

th.filtered-input {
	width: 200px;
}

th.filtered-input input {
    height: 28px;
    font-size: 12px;
}

th.filtered-input .form-control-feedback {
    height: 28px;
    line-height: 28px;
}

th.rownum {
	width: 50px;
}

th.ops {
	width: 70px;
}

/*
  Forms
*/
select, textarea,
input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"],
input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"],
input[type="tel"], input[type="color"],
.uneditable-input, .label, .dropdown-menu, .btn, .well, .progress,
.table-bordered,
.btn-group > .btn:first-child, .btn-group > .btn:last-child,
.btn-group > .btn:last-child, .btn-group > .dropdown-toggle,
.alert {
    border-radius: 0px;
}
