* {
	outline: none !important;
	-moz-outline: none !important;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
}

body.matrix {
	overflow-x: hidden;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	color: #666;
	margin-top: -20px;
}

#header {
	background-color: #1F262D;
	height: 77px;
	width: 100%;
	margin-top: 20px;
}

#header h1 {
	background: transparent url("../img/logo.png") no-repeat scroll 0px 0px;
	height: 31px;
	margin-left: 20px;
	overflow: hidden;
	margin-top: 26px;
	width: 191px;
}

#header h1 a {
	color: transparent;
}

#top-nav, #search {
	height: 38px;
	min-height: 38px;
	margin: 0px;
	border: none;
    border-radius: 0px;
}

#top-nav>ul {
	margin: 0px;
	padding: 0px;
	list-style: outside none none;
	border-right: 1px solid #2E363F;
	border-left: 1px solid #000;
}

#top-nav > ul > li {
    float: left;
    list-style-type: none;
    margin: 0px;
    position: relative;
    padding: 0px;
    border-left: 1px solid #2E363F;
    border-right: 1px solid #000;
}

#top-nav > ul > li > a {
    padding: 9px 10px;
    display: block;
    font-size: 11px;
    height: 38px;
    color: #999;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

#top-nav >ul > li > a:hover {
	color: #FFF;
    background: #000 none repeat scroll 0% 0%;
}

#breadcrumb {
    background-color: #FFF;
    border-bottom: 1px solid #E3EBED;
    height: 37px;
    min-height: 37px;
    padding: 0px;
    margin-top: 2px;
    border-radius: 0px;
}

#breadcrumb a:last-child {
    background-image: none;
}

#breadcrumb a {
    padding: 8px 20px 8px 10px;
    display: inline-block;
    background-image: url("../img/breadcrumb.png");
    background-position: right center;
    background-repeat: no-repeat;
    font-size: 11px;
    color: #666;
}
