#bundle('/general')
#bundle()
<div class="widget-box nomargin" n-layout>
    <div class="widget-title ui-layout-north">
        <span class="icon">
            <i class="fa fa-edit"></i>
        </span>
        <h5>#text('admin_console.ds.edit')</h5>
    </div>
    <div class="widget-content nopadding ui-layout-center autoscroll">
<div class="form form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right" for="ds_name">#text('ds.name.title')</label>

        <div class="col-sm-6">
            <input type="text" ng-model="editingItem.name"
                id="ds_name" placeholder="#text('ds.name.placeholder')"
                ng-disabled="!editingItem._is_new"
                class="form-control" required ng-maxlength="50" />
        </div>
        <div class="col-sm-4 help-inline">
            #text('ds.name.inputhint')
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right" for="ds_url">#text('ds.url.title')</label>

        <div class="col-sm-6">
            <textarea ng-model="editingItem.url" id="ds_url" class="form-control" rows="5"></textarea>
        </div>
        <div class="col-sm-4 help-inline">
            #text('ds.url.inputhint')
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right" for="ds_user">#text('ds.user.title')</label>

        <div class="col-sm-6">
            <input type="text" ng-model="editingItem.user"
                id="ds_user" placeholder="#text('ds.user.placeholder')"
                class="form-control" ng-maxlength="50" />
        </div>
        <div class="col-sm-4 help-inline">
            #text('ds.user.inputhint')
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right" for="ds_password">#text('ds.password.title')</label>

        <div class="col-sm-6">
            <input type="text" ng-model="editingItem.password"
                id="ds_password" placeholder="#text('ds.password.placeholder')"
                class="form-control" ng-maxlength="50" />
        </div>
        <div class="col-sm-4 help-inline">
            #text('ds.password.inputhint')
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right" for="pref_desc">#text('prefs.desc.title')</label>

        <div class="col-sm-6">
            <textarea ng-model="editingItem.description" id="pref_desc" class="form-control" rows="5" ng-maxlength="100"></textarea>
        </div>
        <div class="col-sm-4 help-inline">
            #text('prefs.desc.inputhint')
        </div>
    </div>
</div>
    </div>
    <div class="widget-footer ui-layout-south">
        <div class="buttons">
            <button ng-disabled="!form.$valid" class="btn btn-xs btn-success" ng-click="save();">
                <i class="fa fa-save"></i>
                #text('save')
            </button>
            &nbsp;
            <button class="btn btn-xs btn-default" ng-click="goback();">
                <i class="fa fa-reload"></i>
                #text('goback')
            </button>
        </div>
    </div>
</div>
#end
#end
