<div class="fill least-padding" ng-if="!visibleSection">
#bundle('menu')
#bundle()
<div class="widget-box nomargin" n-layout>
    <div class="widget-title ui-layout-north">
        <span class="icon">
            <i class="fa fa-table"></i>
        </span>
        <h5>#text('menu.builtin.accounts')</h5>
        <div class="buttons">
            <button class="btn btn-xs btn-success" ng-click="add();">
                <i class="fa fa-plus"></i>
                #text('add')
            </button>
            <button class="btn btn-xs btn-primary" ng-click="applyDataSources();">
                <i class="fa fa-refresh"></i>
                #text('builtin.account.apply')
            </button>
        </div>
    </div>
    <div class="widget-content nopadding ui-layout-center auto-scroll">
        <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="rownum">#</th>
                <th class="ops"></th>
                <th>#text('builtin.accounts.dsName')</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="!ds.result || !ds.result.length">
                <td colspan="7">#text('nothing')</td>
            </tr>
            <tr ng-repeat="eds in edses.result">
                <td ng-bind="$index + 1">#</td>
                <td class="ops">
                    <a class="text-primary" href="javascript:void(0)" title="#text('builtin.accounts.list')" ng-click="viewAccounts(ds)"><i class="fa fa-list"></i></a>
                    <a class="text-danger" href="javascript:void(0)" title="#text('remove')" ng-click="remove(ds)"><i class="fa fa-minus"></i></a>
                </td>
                <td ng-bind="eds.dataSourceName">dataSourceName</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
#end
#end
</div>
<div class="fill" ng-form="form">
    <div class="fill" ng-repeat="sec in sections" n-section="{{sec}}" ng-if="sec == visibleSection"></div>
</div>
