#bundle()
<div class="fill auto-scroll">
	<form name="chpwdForm" class="form form-horizontal">
		<div class="form-group">
			<label class="col-xs-4 control-label">#text('change_password.old_password')</label>
			<div class="col-xs-8">
				<input type="password" class="form-control" ng-model="changePassword.oldPassword" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-4 control-label">#text('change_password.new_password')</label>
			<div class="col-xs-8">
				<input type="password" class="form-control" ng-model="changePassword.newPassword" required valid-if="changePassword.newPassword != changePassword.oldPassword">
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-4 control-label">#text('change_password.confirm_password')</label>
			<div class="col-xs-8">
				<input type="password" class="form-control" ng-model="changePassword.confirmPassword" required valid-if="changePassword.newPassword == changePassword.confirmPassword">
			</div>
		</div>
	</form>
</div>
#end