<!DOCTYPE html>
<html>
#bundle()
<head>
#parse('inc/meta.html')
<title>#text('title')</title>
</head>
<body class="matrix" n-layout="{west:{size:220},north:{size:77}}">
<div id="header" class="pane ui-layout-north" n-layout="{west:{size:220}}" ng-controller="admin_console.header">
  <div class="pane ui-layout-west pull-left" style="width:220px;">
    <h1><a href="index.html">#text('title')</a></h1>
  </div>
  <div class="pane ui-layout-center" style="position:absolute;top:0px;left:220px;width:100%">
<div n-modal="changePasswordDialog" title="#text('changepassword')" buttons="[{text: '#text('save')',buttonClass:'btn-sm btn-primary',disableOnInvalid:true,onclick:savePassword,iconClass:'fa fa-save'}]"></div>
    <div id="top-nav" class="navbar navbar-inverse pull-left">
      <ul class="nav">
        <li><a><i class="fa fa-user"></i> $shiro.principal</a></li>
        <li><a href="javascript:void(0);" ng-click="showChangePassword();"><i class="fa fa-key"></i> #text('change_password')</a></li>
        <li><a href="${request.contextPath}/admin_console/logout.html"><i class="fa fa-sign-out"></i> #text('logout')</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
<!--breadcrumbs-->
    <div id="content-header">
      <ol id="breadcrumb" class="breadcrumb">
        <li ng-repeat="br in breadcrumb">
          <a href="javascript:void(0)" ng-click="openView(itm)"><i ng-class="br.iconClass || 'fa fa-circle-o'"></i> <span ng-bind="br.text"></span></a>
        </li>
      </ol>
    </div>
<!--End-breadcrumbs-->
  </div>
</div>

<!--sidebar-menu-->
#bundle('general')
<div id="sidebar" class="pane ui-layout-west pull-left" style="width:220px;">

<div class="panel-group" id="sidebar-accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default" ng-repeat="itm in mainMenu">
    <div class="panel-heading" ng-if="!itm.children||!itm.children.length">
      <h4 class="panel-title">
        <a role="button" ng-click="itm.templateUrl && openView(itm, itm.path)">
          <i ng-class="itm.iconClass||'fa fa-circle-o'"></i> <span ng-bind="itm.text"></span>
        </a>
      </h4>
    </div>
    <div class="panel-heading" id="heading{{$index}}" ng-if="itm.children&&itm.children.length">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse"
            data-parent="#sidebar-accordion" ng-href="#collapse{{$index}}"
            aria-expanded="true" aria-controls="collapse{{$index}}">
          <i ng-class="itm.iconClass||'fa fa-circle-o'"></i> <span ng-bind="itm.text"></span>
        </a>
      </h4>
    </div>
    <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel"
        aria-labelledby="heading{{$index}}">
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="subitm in itm.children">
            <a  ng-click="subitm.templateUrl && openView(subitm, subitm.path)" href="javascript:void(0);">
              <i ng-class="subitm.iconClass||'fa fa-caret-right'"></i> <span ng-bind="subitm.text"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

</div>
#end
<!--sidebar-menu-->

<!--main-container-part-->
<div id="workbench" class="pane ui-layout-center most-padding">
  <div class="fill" n-section="{{workbenchSection||'workbench.home'}}">
  </div>
</div>

<div n-modal-placeholder></div>
#parse('inc/scripts.html')
<script src="${request.contextPath}/lib/require/require.js" data-main="${request.contextPath}/s/admin_console/main.js"></script>
</body>
#end
</html>
